<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://kit.fontawesome.com/5837c6b3d9.js" crossorigin="anonymous"></script>
  <title>Electrical</title>
</head>

<body>


  <!-- NAVIGATION BAR -->
  <header>
    <div class="logo">
      <img src="/img/logo1.png" alt="">
      <h2>Electrical</h2>
    </div>
  <nav id="navbar">
    <a href="#">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact">Contact</a>
    <div class="animation start-home"></div>
  </nav>
</header>


  <!-- HERO SECTION -->

  <section class="hero">
    <div>
      <img src="/img/hero1.jpg" alt="">
    </div>

  </section>

  <section class="welcome">
    <div >
      <img src="/img/electric-tower-svgrepo-com.svg" alt="" class="svg1">
      <img src="/img/electric-tower-svgrepo-com.svg" alt="" class="svg2">
    </div>
    <div >
      <span class="text1">Welcome</span>
      <span class="text2">---- One Stop Electrical Solution ----</span>
    </div>
  </section>


  <!-- ABOUT US SECTION -->

  <section id="about">
    <div class="head">
    <h1>About us</h1>
  </div>

    <div class="row">
      <div class="left">
        <img src="/img/3d-fluency-about-icon.png" alt="">
      </div>
      <div class="right">
        <h2>A home of Electrical Solution is established in the year 2004.</h2>
        <p>The Company has emplyoee - experienced people from the same field ensuring high standard services to its valuable customers. </p>
        <p> We offer a wide range of services for Enginnering, Installation, Commisioning, upcoming project and for operation & maintenance of existing plants. <br>
        Our Comapny provides electric supplies for commercial, industrial, residential complex, utilities and telecommunications. <br>
        The company is fast growing from the time of its establishment due to its capacity of providing customized solution in the field of Electricals. The products & services are carefully selected to meet the vision and mission of the Company. The Services include consultancy, Designing, Supplying and Installation of reliable and quality products. </p>
      </div>
    </div>



  </section>



  <!-- SERVICES SECTION -->

  <section id="services">

    <div class="head">
      <h1>Our Services</h1>
    </div>
    <div class="parent">

      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></i></div>
        <h2>Electrical Services</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Electrical Panel</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Structure Cabling</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Internal Electrification</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Warehousing Project</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Electrical Services</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Electrical Services</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Electrical Services</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>
      <div class="box">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z" />
          </svg></div>
        <h2>Electrical Services</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum delectus cupiditate facilis non
          magni quia, fuga iusto, culpa iure nesciunt praesentium dignissimos consequuntur explicabo quisquam minima
          repellat quos! Alias.</p>
      </div>



    </div>




  </section>






  <!-- CONTACT SECTION -->

  <section id="contact">


    <!-- <div class="container"> -->
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Surkhet, NP12</div>
            <div class="text-two">Birendranagar 06</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+0098 9893 5647</div>
            <div class="text-two">+0096 3434 5678</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">abcd@gmail.com</div>
            <div class="text-two">abcd@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text"><h2>Send us a message</h2></div>
          <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from
            here. It's my pleasure to help you.</p>
          <form method="post" action="/contact">
            <div class="input-box">
              <input type="text" placeholder="Enter your name" name="name">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your email" name="email">
            </div>
            <div class="input-box">
              <input type="tel" placeholder="Enter your Phone no." name="phone">
            </div>
            <div class="input-box">
              <textarea cols="30" rows="10" placeholder="Enter Your Message" name="message"></textarea>
            </div>
            <div class="input-box message-box"></div>
            <div class="button">
              <input type="submit" value="Send Now">
            </div>
          </form>
        </div>

    </div>




  </section>






  <script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>




</body>







</html>